html {
   position:relative;
   min-height:100%;
}
body {
    margin:0 0 100px;
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#ccc;
    text-align:center;
    padding:5px;
}

img {
  height: auto;
  width: 100%;
}

.flash_message {
  color:#31708f;
  background-color:#d9edf7;
  border-color:#bce8f1;
  margin-bottom:1px;
  padding:15px;
  border:1px solid transparent;
  border-radius:4px;
  }
